<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        img {
            width: 150px;
            height: 150px;
        }
        
        .main_common{
            display: inline-block;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <img src = "{{tv_info.get('src')}}">
    <h1>작품명 : {{tv_info.get('title')}}</h1>
    <h2>공개일 : {{tv_info.get('airdate')}}</h2>
    <h2>플랫폼 : {{tv_info.get('service')}}</h2>
    <h2>평점 :{{tv_info.get('average')}}</h2>
    <h2>장르 : {{tv_info.get('genres')}}</h2>
    <h3>줄거리 : {{tv_info.get('overview')}}</h3>
    <h3>작품 보러가기 : {{tv_info.get('homepage')}}</h3>

    <!-- 백그라운드 이미지 -->
    <img src= "{{tv_info.get('bg_src')}}">

    <br>
    <div>
        {% if list|length == 0 %}
        추천할만한 작품이 없습니다. :(
        {% else %}
        {% for r_data in list %}
        <div class="main_common"><img src = "{{r_data.get('src')}}" alt=""></div>
        {% endfor %}
        {% endif %}
        
    </div>
</body>
</html>